<div class="row marketing">
    <form role="form" id="signupform" ng-submit="signup()" accept-charset="utf-8">
        <h1>Sign Up</h1>
        <div class="form-group">
            <label for="signupform-email">Email address</label>
            <input type="email" id="signupform-email" class="form-control" ng-model="email" placeholder="Enter email" autofocus autocomplete/>
        </div>
        <div ng-show="alerts.email" class="alert alert-{{alerts.email.type}}">{{alerts.email.msg}}</div>
        <div class="form-group">
            <label for="signupform-password">Password</label>
            <input type="password" id="signupform-password" class="form-control" ng-model="password" placeholder="Enter password" />
        </div>
        <div ng-show="alerts.password" class="alert alert-{{alerts.password.type}}">{{alerts.password.msg}}</div>
        <div class="form-group">
            <label for="signupform-password-confirmation">Confirm password</label>
            <input type="password" id="signupform-password-confirmation" class="form-control" ng-model="passwordConfirmation" placeholder="Re-enter password"/>
        </div>
        <div ng-show="alerts.passwordConfirmation" class="alert alert-{{alerts.passwordConfirmation.type}}">{{alerts.passwordConfirmation.msg}}</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>