<section class="todo-app">
    <header>
        <form class="form-inline" id="add-todo" ng-submit="addTodo()">
            <label class="sr-only" for="add-todo-content">New todo</label>
            <input type="text" class="form-control todo-content add-todo-content" id="add-todo-content" ng-model="addTodoContent" autofocus/>
            <button class="btn btn-link btn-lg" type="submit" form="add-todo">
                <span class="sr-only">Add</span>
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </form>
    </header>
    <ul ng-show="todos.length" class="list-unstyled">
        <li ng-repeat="todo in todos">
            <div ng-hide="todo===editedTodo">
                <button class="btn btn-link btn-lg" type="button" ng-click="toggleDone(todo)">
                    <span class="sr-only">{{todo.isDone | iif : "Mark as undone" : "Mark as done"}}</span>
                    <span class="glyphicon glyphicon-ok" ng-class="{'glyphicon-inverse': todo.isDone}"></span>
                </button>
                <span class="todo-content" ng-class="{strikethrough: todo.isDone}" ng-dblclick="editTodo(todo)">{{todo.content}}</span>
                <button class="btn btn-link btn-lg" type="button" ng-click="deleteTodo(todo)">
                    <span class="sr-only">Remove</span>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div ng-show="todo===editedTodo">
                <form ng-submit="doneEditing(todo)">
                    <input class="todo-content"
                           ng-trim="false"
                           ng-model="todo.content"
                           td-escape="revertEditing(todo)"
                           ng-blur="doneEditing(todo)"
                           td-give-focus="todo == editedTodo">
                </form>
            </div>
        </li>
    </ul>
</section>